body {
    margin: 0;
    text-align: center;
    font-family: 'Croissant One', cursive;
    font-family: 'Noto Sans Thai', sans-serif;
}

h1 {
    font-size: 2.5rem;
    width: 30%;
    margin: 0 auto 0 auto;
}

h2 {
     font-size: 2.5rem;
}

h3 {
    font-size: 1rem;
}

span {
    text-decoration: underline;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    top: 50px;
    right: 300px;
}

.top-container {
    background-color: rgb(53,162,159);
    padding-top: 100px;
    position: relative;
}

.profile {
    margin: 50px;
}

.profile-img {
    border-radius: 50%;
}

.skills {
    padding: 10px;
}

.skill-row {
    width: 30%; 
    margin: 0 auto;
    
}

.java-img {
    width: 30%;
    margin-right: 20px;
    
}

.ai-img {
    width: 30%;
    margin-right: 30px;
    
}

.react-img {
    width: 70%;
    margin-left: 20px;
    
}

.table-profile {
    margin: 0 auto;
}